::placeholder {
    font-family: Orbitron;
    color: rgba(0, 0, 255, 1);
    font-size: 10px;
    width: 250px;
  }
  .regList {
    grid-template-columns: 250px;
    grid-row-gap: 10px;
    display: grid;
  }
  .form-input:focus {
    background: rgb(247, 247, 187);
    transition: 1s ease-out;
  }
  .regListEnter:hover {
    background: rgba(130, 130, 199, 0.515);
    transition: 0.5s ease-out;
  }
  .result {
    margin-top: 10px;
    font-family: Orbition;
    color: grey;
    font-size: 15px;
    border: 2px dotted #000;
    float: right;
    height: 150px;
    width: 400px;
  }
  
  p {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }
  .regList {
    float: left;
  }
  .custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .custom-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .custom-checkbox + label::before {
    content: "";
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  .custom-checkbox:checked + label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("xmlns='http://www.w3.org/2000/svg'");
  }
  